@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    #searchDiv {
    @apply w-72 bg-white rounded xl:w-56;
    display: none;
}
    
    input:focus + #searchDiv { display: block; }
    #searchDiv:hover { display: block; }

    #bgImage {
        background-image: url('Artboard1.png');
        background-repeat: repeat;
        @apply w-[200%] h-full;
        background-size: 30% 110%;
        animation: slide 7s linear infinite;
        overflow: hidden;
    }

    @keyframes slide{
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-60vw, 0, 0);
  }
}

@media (min-width: 1280px) {
    #bgImage {
        background-size: 10% 110%;
        animation: slide 25s linear infinite;
    }
}
}